* {
  box-sizing: border-box;
}

:root,
body,
html {
  margin: 0;
  padding: 0;
}

main {
  width: max-content;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form {
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

label:has(:where(input, textarea, select)) {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

form button {
  place-self: end;
}

output {
  display: block;
  border: 1px solid black;
  border-radius: 1px;
  padding: 0.25rem;
}
